@font-face {
    font-family: 'Goldplay';
    src: url('Goldplay-SemiBold.eot');
    src: url('Goldplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Goldplay-SemiBold.woff2') format('woff2'),
        url('Goldplay-SemiBold.woff') format('woff'),
        url('Goldplay-SemiBold.ttf') format('truetype'),
        url('Goldplay-SemiBold.svg#Goldplay-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.eot');
    src: url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff'),
        url('Poppins-Medium.ttf') format('truetype'),
        url('Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

